@page
@model TeknoRoma.NewAdmin.Areas.Admin.Pages.Roles.UpdateModel
@{
}
<div class="card">
    <h5 class="card-header">
        <a asp-page="Insert" class="btn btn-primary">Add New Role</a>
    </h5>
    <div class="card-body">
        <form asp-page="Update" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="@Model.Role.Id" />
            <div class="form-group  >
                <label for="roleName">Role Name</label>
                <input class="form-control" asp-for="@Model.Role.Name" value="@Model.Role.Name">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>

        </form>

    </div>
    <div class="form-check">
        <label for="ataName">Ata Name Does Exist</label>
        <input class="form-check" asp-for="@Model.Role.Name" value="@Model.Role.Name"/>
    </div>